bin/
obj/
*.user
*.suo
.vs/
TestResults/
publish/
node_modules/
dist/
.next/
venv/
.venv/
__pycache__/
build/
*.pfx
*.p12
.env
appsettings.json
appsettings.Development.json
appsettings.Production.json
